.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 275px;
  }

  .image {
    max-width: 275px;
    height: auto;
  }

  .name {
    margin: 5px;
  }

  .author {
    margin: 5px;
  }

  .website {
    margin: 10px 80px;
  }