.Card {
    display: flex;
    flex-direction: column;
    margin: 30px 150px;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .image {
    
  }

  .name {

  }

  .author {
    
  }

  .website {
    margin: 10px 80px;
  }